<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Connexion</title>
</head>
<body>
    <h1>SKI API</h1>
    <form action="login" method="post">       
        <fieldset>
            <legend>Connexion à votre compte</legend>
            <div class="champs">
                <label for="email">Email :</label>
                <input type="email" name="email" id="email" required>
            </div>
            <div class="champs">
                <label for="password">Mot de passe :</label>
                <input type="password" name="password" id="password" required>
            </div>
            <div class="champs">
                <button type="submit">Connexion</button>
            </div> 
            <div><a href="signup">Pas encore de compte <br>Créé votre compte</a></div> 
        </fieldset>      
    </form>       
</body>
</html>