<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Profil</title>
</head>
<body> 
    <h1>SKI API</h1>
    <div class="profil">
        <h2>VOTRE PROFIL</h2>
        <div class="profilLeft">
            <div><span class="profilInfo">Email :</span> <%= email %></div>
            <div><span class="profilInfo"> Nom : </span><%= name %></div>
        </div>
    </div>
</body>
</html>