.body {
  text-align: center;
  background-image: url(../image/skiRando.jpg);
  background-size: cover ;
}

label {
  display: inline-block;
  padding: 10px
}

h1 {
  margin: 50px;
  font-size: 5em;
  color:rgb(255, 255, 255);
  text-shadow: 1px 1px 2px rgb(68, 175, 236), 0 0 25px rgb(87, 184, 223), 0 0 5px rgb(0, 0, 255);
}

form{
  display: inline-block;
  margin: 0 auto;
 
  width: 400px;

}
.champ {
  text-align: left;
  display: block;
}

fieldset {
  text-align: center;
  padding: 50px;
  background-color: rgb(176, 208, 245);
}

div>label {
  width: 150px;
}
div>button {
  margin: 40px;
}

.profil {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  background-color: white;
  background-color: rgb(176, 208, 245);
}
.button{
  width: 175px;
  background-color: rgba(255, 94, 0, 0.7);
  display: inline-block;
  border-radius: 15px 0px 30px 5px ;
  color: #ffffff;
  text-align: center;
  font-weight: bolder;
  font-size: 15px;
  padding: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.profilInfo{
  display: inline-block;
  width: 30%;
  margin-top: 70px;
  font-size: 1.5em;
}
.profilLeft{
  text-align: left;
  margin: auto;
  width: 80%;
}
nav ul{
  list-style-type: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  font-size: 30px;
}
nav ul li{
  padding: 10px;
}
nav a{
  text-decoration: none;
  color: rgb(250, 250, 250);;
  transition: all 0.5s;
  padding: 15px;
}
nav a:hover{
  color: rgb(255, 255, 255);
  font-weight: bolder;
  border-bottom: 4px solid rgb(160, 245, 2);
  background-color: rgb(13, 127, 161);
}